<h4>Hi</h4>
  
<%= @result.html_safe %>

<p>
	Please click on the following link to https://saas.blubirch.com/management/approveRequest to approve return requests.
</p>
<p>
  Following is as system generated mail to smoothen the approval process of return requests.
</p>
<br/>
