<h4>Hi</h4>
  

<p>
	Insurance item with tag number <%= @tag_number %> is in Pending Disposition state. Please click on the following link to <%= @base_url %> to approve the Disposition.
</p>
<p>
  Thank you
</p>
<br/>
