<h4>Hi</h4>
  

<p>
	Insurance item with tag number <%= @tag_number %> has been rejected by the admin. Please click on the following link to <%= @base_url %> to view the details.
</p>
<p>
  Thank you
</p>
<br/>
